.comment-section {
    margin-bottom: 20px;
    background-color: #f0f2f5;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin-left: 10px;
}

.input-box {
    height: 60px;
    width: 90%;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.send-button {
    background-color: #e7e7e7;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 5px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send-button:hover {
    background-color: #c5c5c5;
}

.dark-mode .send-button:hover {
    background-color:   #4267b2
}
.comment-container {
    width: 100%;
    margin-bottom: 15px;
}

.comment {
    background-color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    text-align:start;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.dark-mode .comment{
    color:#868686;
    background-color: #404040;
    font-weight: bold;
    text-align:start;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px; 
    padding: 10px;
    margin-bottom: 10px;
}

.comment .content {
    margin-top: 100px;
}
