* {
	margin:0px;
	padding:0px;
}

.parent {
  flex-direction: column;
  margin: 1rem;
  padding: 2rem 2rem;
}

.right_child {
  display: inline-block;
 
  padding: 30px;
}
.left_child{
  margin-top: 60px;
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
  padding: 30px;
  margin-left:10px;
}