
.send-button {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 8px;
    transition: background-color 0.3s ease;
}

.tab_button{
	width: 50px; 
	border-radius: 10%;
	background-color: #f0f2f5;
	margin-left: px;  
  }
  